.product__item {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;
  padding: 5px 0;
  .image {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .desc {
    a,
    p {
      font-size: 1.4rem;
      font-family: "Lato", sans-serif;
      color: #606060;
      color: #606060;
      text-decoration: none;
    }
    a {
      margin-bottom: 3px;
      &:hover {
        color: #bc482f;
      }
    }
  }
}
