$primaryColor: #d15f31;
$secondaryColor: #5a3320;
$textColor: #777777;
.post-navigation {
  width: 100%;
  border-radius: 4px;
  background-color: #efece6;
  padding: 8px;
  margin: 10px 0;
  .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-post {
    background-color: #f8f7f3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 2px 10px;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
      span {
        color: $primaryColor;
      }
      svg {
        fill: $primaryColor;
      }
    }
  }
}
