.sub-menu__wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.08s;
  transition-delay: 0.3s;
  z-index: 10;
  overflow: hidden;
  transform: scale(0.7);
  opacity: 0;
  visibility: hidden;
  transform-origin: top left;
  &.right {
    right: 0;
    left: unset;
    transform-origin: top right;
  }
  &.show {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
.sub-menu__content {
  display: flex;
}
.sub-menu {
  background-color: #edeae1;
  color: #777777;

  padding: 15px 25px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;

  font-family: "Oswald", sans-serif;

  transition: all ease 0.3s;
  &__header {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4rem;
    color: #191919;
    border-bottom: 1px solid #d8d8d8;
  }
  &__list {
    font-size: 1.4rem;
    min-width: 150px;
  }
  &__item {
    width: 100%;
    border-radius: 5px;
    padding: 4px 8px;
    &:hover {
      background-color: #c9ad88;
      color: #ffffff;
    }
  }
}
